<div class="container">
<div class="card mx-auto rounded" style="width: 400px; margin-top: 60px;">
  <div class="container row no-gutters">
    <div class="text-center">
      <div class="card-img" style="margin-top: 20px;"><%= image_tag @user.avatar, alt: 'avatar' %>
    </div>

    <div class="text-center">
      <div class="card-body">
        <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p class="card-text"><%= @user.email %></p>
        <p class="card-text">"<%= @user.description %>." </p>

<% if current_user.id == @user.id %>
                          <a class="btn boo" href="<%= edit_user_registration_path %>">modifier mes infos</a>
                                                    <% end %>
      </div>
    </div>

                                    <ul class="nav nav-pills nav-pills-icons" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                            Events créés
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                            Events rejoints
                                          </a>
                                      </li>
                                    </ul>


          <div class="tab-content tab-space">
            <div class="tab-pane active gallery" id="studio">
            <div class="container-fluid row">
               <% @admin_events.each do |event| %>
              <div class="card">
                    <h3 class="card-header"><%= event.title %></h3>
                    <a class="btn"><%= link_to "Go to the event page", event_path(event.id), :class => 'card-link' %></a>
                  </div>
            <% end %>
            </div>
          </div>


            <div class="tab-pane gallery" id="works">

                <% @guest_events.each do |event| %>
                <div class="card">
                    <h3 class="card-header"><%= event.title %></h3>
                    <a class="btn"><%= link_to "Go to the event page", event_path(event.id), :class => 'card-link' %></a>
                  </div>
                  <% end %>
                      </div>
</div>
</div>
  </div>
</div>
</div>
</div>

