<p> Profil </p>

<p>prenom : <%= @user.first_name %> </p>
<p>nom : <%= @user.last_name %> </p>
<p>description : <%= @user.description %> </p>
<p>prenom : <%= @user.email %> </p>

          <div class="card m-4 col-md-3">
            <div class="card-header">
              My events
            </div>
              <% if @admin_events == nil %>
              <div class="m-3">
                <p class="text-center">You haven't created any event.</p>
              </div>
              <% elsif @admin_events.sort_by(&:created_at).each do |event| %>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <p>Event: <%= event.title %></p>
                    <p><%= link_to "Go to the event page", event_path(event.id), :class => 'card-link' %></p>
                  </li>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
        <br>





<a href="<%= edit_user_registration_path %>">modifier mes infos</a>