<p> Profil </p>

<p>prenom : <%= @user.first_name %> </p>
<p>nom : <%= @user.last_name %> </p>
<p>description : <%= @user.description %> </p>
<p>prenom : <%= @user.email %> </p>

<% if @admin %>
  <h4 class="text-center m-3"><%= @user.first_name %> is admin of <%= @admin_events.size %> events</h4>
  <% @admin_events.each do |event| %>
        <%= link_to event do %>
          <div class= "col-sm m-2 text-center" >
            <div class="card" style="width: 18rem; text-decoration: none;">
                <div class="card-body card-event">
                  <p class="text-info"><%= event.location %></p>
                  <h5 class="text-info"><%= event.title %></h5>
                  <p class="text-info"><%= event.start_date.strftime("%B %d, %Y")%></p>
                  <div class="mt-2 ">
                    <% if user_signed_in?%>
                      <% if is_event_admin?(get_admin(event))%>
                        You are administrator to this event | <%= link_to "Event Admin Page",attendances_path(event_id: event.id) %>
                      <% elsif is_current_user_guest?(event)%>
                        You are already registered for this event !
                      <% else %>
                        <%= link_to "Buy Now", new_event_charge_path(event) , class: "btn btn-danger text-white" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
      <% end %>
    <% end %>
<% end %>






<a href="<%= edit_user_registration_path %>">modifier mes infos</a>