<div class="jumbotron">
  <h1 class="display-4">PLOP! Bienvenue</h1>
  <p class="lead">Bienvenue sur ce site destiné a être seulement un "projet" pour m'exercer, créér son evenement, et rejoindre ceux des autres.</p>
  <hr class="my-4">
<center><a href="<%= new_event_path %>" class="btn btn-primary">Créer votre event ici !</a></center>
</div>



<div class="container row mx-auto">
	<% Event.all.each do |event| %>
  <div class="col-sm-4 mt-auto p-2">
    <div class="card">
      <div class="card-body">
    <h5 class="card-title text-center"><%= event.title %></h5>
    <p class="card-text"><%= event.description %></p>
		<p class="card-text"><%= event.start_date %></p>
		<p class="card-text"><%= event.location %></p>
		<p class="card-text"><%= event.price %> eur</p>
    <a href="<%= event_path(event.id) %>" class="btn btn-primary btn-lg btn-block">Voir l'event !</a>
      </div>
    </div>
  </div>
  <%end%>
</div>
