<h2 class="text-center mt-5">Créez un event !</h2>
<h6 class="text-center">(toutes les cases sont obligatoires !)</h6>
<br>
<br>
<div class="container text-center">
  <%= form_tag url_for(action: 'create'), method: "post" do %>
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
  <%= label_tag 'Title' %>
  <%= text_field_tag 'title', @title, autofocus: true, class: 'form-control' %>
  </div>    
  <div class="form-group">
    <%= label_tag 'Location' %>
    <%= text_field_tag 'location', @location, autofocus: true, class: 'form-control' %>  
  </div>   
  <div class="form-group">
    <%= label_tag 'Starts at' %>
    <%= datetime_field_tag 'start_date', @time, autofocus: true, class: 'form-control' %>  
  </div>  
  <div class="form-group"> 
    <%= label_tag 'Duration' %>
    <%= number_field_tag 'duration', @duration, autofocus: true, class: 'form-control' %>  
  </div>
  <div class="form-group"> 
    <%= label_tag 'Price' %>
    <%= number_field_tag 'price', @price, autofocus: true, class: 'form-control' %>  
  </div>
  <div class="form-group"> 
    <%= label_tag 'Description' %>
    <%= text_field_tag 'description', @description, autofocus: true, class: 'form-control' %> 
  </div>
  <br>
  <div class="actions mt-4 mb-3">
  <%= submit_tag "Make your event live", class:"btn btn-lg btn-dark btn-block" %>
  </div>
  <% end %>
</div>