<h1 class="text-center mt-5">Bienvenue sur la page de l'evenement </h1>

<br><br>

<div class="card text-center mx-auto" style="width: 400px;">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.description %></p>
    	 <% if user_signed_in? && @event.admin_id == current_user.id%>
          <a class="btn btn-secondary" href="<%= event_attendances_path(@event.id)%>">Voir mon event</a>
        <% elsif user_signed_in? && @event.users.ids.include?(current_user.id)%>
          <div class="text-muted font-weight-bold">Vous êtes inscrit à cet event.</div>
        <%elsif user_signed_in?%>
          <a class="btn btn-secondary" href="<%= new_event_attendance_charge_path(@event.id,current_user.id)%>">S'inscrire</a>
        <%else%>
          <a class="btn btn-secondary" href="<%= new_user_session_path %>"> S'identifier</a>
        <%end%>
  </div>
  <div class="text-muted">
    <%= @event.created_at.strftime("%B %d, %Y") %>
    <br>
    <br>
  </div>
</div>
       