
        <p>Titre : <%= @event.title%></p>

        <p>Description de l'évènement :</p>
        <p><%=@event.description%></p>
      
          <% if user_signed_in? && @event.users.ids.include?(current_user.id)%>
            <div class="text-muted font-weight-bold">Vous êtes inscrit à cet event.</div>
          <%elsif user_signed_in?%>
            <a class="btn btn-info" href="<%= edit_event_path(@event.id)%>">Modifier mon event</a>
          <%end%>

              Détails de l'évenement
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lieu : <%=@event.location%></li>
              <li class="list-group-item">Date : <%=@event.start_date%></li>
              <li class="list-group-item">Durée : <%=@event.duration%> minutes</li>
              <li class="list-group-item">Prix : <%=@event.price%> euros (only!)</li>
            </ul>


        <div class="card-header bg-danger text-center text-light">
          Il y a <%=@event.attendances.size%> inscrit(s)
        </div>
        <ul class="list-group list-group-flush">
          <%@attendees.all.each do |attendee|%>
          <li class="list-group-item"><%=attendee.first_name%> <%=attendee.last_name%> / <%=attendee.email%></li>
          <%end%>
      </ul>
