<!DOCTYPE html>
<html>
  <head>
    <title>ProjectForUs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://fonts.googleapis.com/css?family=Lilita+One|Roboto&display=swap" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="">EventBrite</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link nav-item" href="<%= root_path %>">Accueil <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="<%= events_path%>">Evenements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= new_event_path%>">Créer un evenement</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.email %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= user_path(current_user.id)%>">Mon profil</a>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      S'inscrire / Se connecter
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= new_user_registration_path %>">S'inscrire</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="<%= new_user_session_path %>">Se connecter</a>
                  </div>
                </li>
              <% end %>  
            </ul>
          </div>
        </nav>
    <%= yield %>
    
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


<!-- Footer -->
<div class="footer">

    <!-- Grid row-->
    <div class="container">

     <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <!-- Github-->
                <a class="btn-floating btn-tw mx-4" href="https://github.com/saddlord">
                  <i class="fa fa-github fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
              <!-- Linkedin -->
                <a class="btn-floating btn-tw mx-4" href="https://www.linkedin.com/in/bayssangour-assouev-4449341a7/">
                  <i class="fa fa-linkedin fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                        <!-- Google +-->
                <a class="btn-floating btn-tw mx-4" href="mailto:bsngr.asv@gmail.com">
                  <i class="fa fa-google-plus fa-2x"></i>
                </a>
        </li>
      
    </ul>
    </div>

  <!-- Copyright -->
  <div class="text-center">
    <br>
    <p>© 2020 ASSOUEV BAYSSANGOUR</p>
  </div>
</div>

  </body>
</html>
